<header class="container">
    <h1 class="title">CURRENCY CONVERTER</h1>
    <div class="rate">
        <p class="rateDicribe">exchange rate-sale:</p>
        <b class="rateType">USD: &zwnj;</b>
        <!-- <span>{rates[0].sale} &#8372;</span> -->
        <b class="rateType">EUR: &zwnj;</b>
        <!-- <span>{rates[1].sale} &#8372;</span> -->
        <!-- {rates.map(({ currencyCodeA, rateSell }) => (
        <div key={currencyCodeA}>
            <b class="rateType">{currencyCodeA}: &zwnj;</b>
            <span>{rateSell} &#8372;</span>
        </div>
        ))}  -->
    </div>
    <div class="rate">
        <p class="rateDicribe">exchange rate-buy:</p>
        <b class="rateType">USD: &zwnj;</b>
        <!-- <span>{rates[0].buy} &#8372;</span> -->
        <b class="rateType">EUR: &zwnj;</b>
        <!-- <span>{rates[1].buy} &#8372;</span> -->
    </div>
</header>