<!-- <form onSubmit={onSubmit}> -->
<div class="currency">
    <div class="inputStyles">
        <div class="currencyBuyText">
            <h2>Select type of currency for SALE:</h2>
            <!-- <select class="inputCurrency" ref={selectValue}> -->
            <select class="inputCurrency">
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
            </select>
        </div>
        <h2>Enter the amount:</h2>
        <!-- <input type="text" placeholder="enter a sum" class="inputCurrency" name="currencySum" value={currencySum}
            onChange={handleInputChange} /> -->
        <input type="text" placeholder="enter a sum" class="inputCurrency" name="currencySum" />
        <button class="currencyBtn" type="submit">
            Count
        </button>
    </div>
    <p class="currencyResult">
        Amount in {currencyType}:
        <span class="currencyResultSum">
            {currencyResult.toFixed(2)} {currencyType}
        </span>
    </p>
</div>
<!-- </form> -->