<!-- <>
    <FormBuy className={s.currencyForm} />
    <FormSale className={s.currencyForm} />
</> -->

<!-- <div>
    <app-formbuy></app-formbuy>
    <app-formsale></app-formsale>
</div> -->

<form>
    <div class="currency">
        <div class="inputStyles">
            <div class="currencyBuyText">
                <h2>Select type of currency for BUY:</h2>
                <!-- <select class="inputCurrency" ref={selectValue}> -->
                <select class="inputCurrency">
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                </select>
            </div>
            <h2>Enter the amount:</h2>
            <input type="text" placeholder="enter a sum" class="inputCurrency" name="currencySum" [value]="currencySum"
                (input)="handleInputChange($event)" />
            <!-- <input type="text" placeholder="enter a sum" class="inputCurrency" name="currencySum"
                [(ngModel)]="currencySum" (ngModelChange)="handleInputChange($event)" /> -->
            <!-- <button class="currencyBtn" type="submit" (click)="getAmountSale()"> -->
            <button class="currencyBtn" type="submit">
                Count
            </button>
        </div>
        <p class="currencyResult">
            Amount in UAH:
            <span class="currencyResultSum"> {{currencyResult}} &#8372;</span>
        </p>
    </div>
</form>

<form>
    <div class="currency">
        <div class="inputStyles">
            <div class="currencyBuyText">
                <h2>Select type of currency for SALE:</h2>
                <!-- <select class="inputCurrency" ref={selectValue}> -->
                <select class="inputCurrency">
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                </select>
            </div>
            <h2>Enter the amount:</h2>
            <input type="text" placeholder="enter a sum" class="inputCurrency" name="currencySum" [value]="currencySum"
                (input)="handleInputChange($event)" />

            <!-- <input type="text" placeholder="enter a sum" class="inputCurrency" name="currencySum"
                [(ngModel)]="currencySum" (ngModelChange)="handleInputChange($event)" /> -->
            <!-- <button class="currencyBtn" type="submit" (click)="getAmountBuy()"> -->
            <button class="currencyBtn" type="submit">
                Count
            </button>
        </div>
        <p class="currencyResult">
            Amount in
            {{currencyType}}:
            <span class="currencyResultSum">
                {{currencyResult}}
            </span>
            <span class="currencyResultSum">
                {{currencyType}}
            </span>
        </p>
    </div>
</form>